<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
          <a class="navbar-brand" href="#">TruvaInfo <i class="fa fa-bolt"></i><span class="fav-check"></span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Início <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cadastro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Serviços</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sobre nós</a>
              </li>
            </ul>
          </div>
        </nav>
    </header>
    <main>
     <div class="container">
         <div class="row justify-content-center">
            <div class="col-sm-12 mt-3">
                <div class="jumbotron">
                  <h1 class="display-4">Seja bem vindo!</h1>
                  <p class="lead">Faça o login em nosso sistema ou cadastre-se. A TruvaInfo fica feliz em vê-lo ;)</p>
                  <hr class="my-4">
                  <form action="">
                      <label for="usuario">
                        <span>Usuário: </span>
                        <input type="text" id="usuario" pInputText>
                      </label><br>
                      <label for="senha">
                          <span>Senha: &nbsp;&nbsp;&nbsp;</span>
                          <input type="password" id="senha" pInputText>
                      </label><br>
                      <button pButton type="button" icon="fa-address-book-o" label="Cadastrar"></button><span>&nbsp;</span>&nbsp;
                      <button pButton type="button" icon="fa-check" label="&nbsp;&nbsp;&nbsp;Entrar&nbsp;&nbsp;&nbsp;"></button>
                </form>         
            </div>
         </div>
        </div>
     </div>
      <div class="container">
       <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Com o que trabalhamos?</h5>
                <p class="card-text">Conheça um pouco mais das áreas que atuamos e veja que temos o serviço ideal para você!</p>
                <a href="#" class="btn btn-primary">Serviços</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Quer saber mais sobre nós?</h5>
                <p class="card-text">Acesse nossa página e conheça um pouquinho sobre a gente. Não esqueça que lá também tem o nosso contato!</p>
                <a href="#" class="btn btn-primary">Sobre nós</a>
              </div>
            </div>
          </div>
        </div>
     </div>
    </main>
    
    <footer class="bg-dark footer">
        <div class="container">
         <div class="row">
            <div class="col=12 justify-content-center">
               <ul class="nav ">
                  <li class="nav-item">
                    <p class="lead" style="color: #d1d1d1">Todos os direitos reservados a TruvaInfo. 2018 <i class="fa fa-copyright"></i></p>
                  </li>
                </ul>     
            </div>
         </div>
        </div>
    </footer>
</body>